.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 16px;
  margin-top: -1px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav .nav-link {
  margin-right: 20px;
}

